<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arieftb.tonton">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".persentation.tvshowdetail.TvShowDetailActivity"
            android:label="@string/menu_title_tv_show_detail"/>
        <activity android:name=".persentation.moviedetail.MovieDetailActivity"
            android:label="@string/menu_title_movie_detail"/>
        <activity
            android:name=".persentation.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>